# Ambiente virtual

.venv/

# Cache do Python

**pycache**/
*.py[cod]
*$py.class

# Arquivos de configuração de ambiente

.env

# Bancos de dados

*.db
*.sqlite3

# Logs

*.log

# Arquivos do sistema

.DS_Store
Thumbs.db

# IDEs / editores

.vscode/
.idea/
