# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de configuração de ambiente
.env

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/